@import "tailwindcss";

@font-face {
  font-family: 'IRANSans';
  src: url('/font/woff2/IRANSansWeb.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/font/woff2/IRANSansWeb_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/font/woff2/IRANSansWeb_Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/font/woff2/IRANSansWeb_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-iransans);
}

@media (min-width: 640px) {
  .sm\:h-18 {
    height: 4.5rem;
  }
}

@media (min-width: 768px) {
  .md\:h-18 {
    height: 4.5rem;
  }
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-iransans), "IRANSans", "Tahoma", "Arial", sans-serif;
  direction: rtl;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
